*{
 margin: 0px;
 padding: 0px;
}

#container1 {
  background-color: darkred;
  width:960px;
  }
  #container1 img {
    margin-left: 30px;
  }
#box1 {
  display: inline-block;
  }

#container1 h1 {
  font-family:'comic sans ms', verdana, arial, serif;
  color:white;
  font-size: 24px;;
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
}
#container1 form {
  margin-top: 5px;
}
  #container1 form input[type="button"] {
    background: darkred;
    padding: 3px;
    color: white;
    font-size: 10px;
  }

#box3 {
  display: inline-block;
  vertical-align: top;
  margin-left: 80px;
  text-align: right;
}

#box3 ul li{
  font-size: 12px;
  text-decoration: underline;
  display:inline;
  color:yellow;
  margin-left: 20px;
}

#box3 ul li span {
  color: white;
}

#box4 {
  background-color: lightgrey;
  padding: 5px 0;
}

#box4 li{
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
  color:#666666;
  display:inline;
  border-right: 1px solid #666666;
  padding: 0 10px
}

#sidebar {
  background-color: #e6e6e6;
  border-style: solid;
  border-width: thin;
  border-color: silver;
  width: 110px;
  display: inline-block;
  margin-top: 30px;
  margin-left: 30px;
  padding: 0 10px 0 20px;
}

  #sidebar ul {
    padding: 10px;
  }

  #sidebar a {
    font-size: 12px;
    color:darkred;
  }

#container2 {
  width:600px;
  display:inline-block;
  vertical-align: top;
  margin-top: 30px;
  margin-left: 30px;
}

  #box5 {
    /*padding:0px 20px;*/
  }

  #box5 h2 {
    font-weight: bold;
    color: darkred;
    font-size: 20px;
    margin-bottom: 10px
  }

  #box5 ul {
    color:darkred;
    text-decoration: underline;
    font-size: 14px;
    margin-left: 50px;
    margin-bottom: 15px;
  }

  #box5 h4 {
    color:darkred;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  #box5 p {
    font-size: 14px;
    margin-bottom: 10px;
  }

  #box5 a {
    color:darkred;
  }

#box6 {
  border-top: 3px solid grey;
  border-bottom: 3px solid grey;
}
  #box6 ul {
    text-decoration:none;
    font-size: 14px;
    margin:15px 0px 5px 40px;
  }
  #box6 li {
    margin:10px 0px 5px 5px;
  }
  #box6 h4 {
    color:darkred;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 10px;
  }
  #box6 p {
    font-size: 14px;
    margin-bottom: 10px;
  }
#box7 {
  margin:15px 0;
}

  #box7 h2 {
    font-weight: bold;
    color: darkred;
    font-size: 20px;
    margin-bottom: 10px
  }

  #box7 ol {
    color:darkred;
    text-decoration: underline;
    font-size: 14px;
    margin:10px 0px 10px 40px;
  }

  #box7 h4 {
    color:darkred;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  #box7 p {
    font-size: 14px;
    margin-bottom: 10px;
  }

  #box7 a {
    color:darkred;
  }
